body , html
 {
   margin: 0;
   padding: 0;
   background: url(22.jpg);
   height: 100%;
   background-size: cover;
   background-position: center;
   font-family: sans-serif;
    font-family: "Josefin Sans";
}



.error{
  background:#ff1515;
  color:white;
  line-height:30px;
  border-radius:5px;
  height:30px;
 
  text-align:center;
  margin-bottom:10px;
}


.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: transparent;
  text-align: center;
  /*border: 3px solid #2ecc71;*/
  border-radius: 10px;
}
.box h1{

  color: #01675A;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 500;
  font-size: 50px;
  font-family: "Josefin Sans";
 
}
.box input[type = "text"],.box input[type = "password"],.box input[type="email"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #01675A;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type="email"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: #01675A;
  border-radius: 25px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
